h1{
text-align: center;
}


/*class example */
.center {
    text-align: center;
    
}



#intro {
    font: italic bold 12px/30px Georgia, serif;
}




h2{
text-align: center;
}

body{
    background-color: lightslategrey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}


/* comments appear inside slash-asterisk, just like this line!
   there are no "one-line comments"; this is the only comment style */